form {
& li {
list-style-type: none;
&:before {
content: none;
    }
}
& .form-buttons-wrapper {
margin: 0 !important;
}
& span.form-sub-label-container { }
& input {
padding-left: calc(1vw + 1em);
width: calc(102% - 1em) !important;    
border: 1px solid $grey-color-light !important;
line-height: 2.5;
font-size: 1em;
    }
& label {
line-height: 1.75;
padding-top: calc(.75vw + .5em);
display: inline-block;
    }
& a {
color: $white !important;
border: none;
    }
& textarea {
padding: 1em 0 0 0;
padding-left: calc(1vw + 1em);
width: calc(102% - 1em) !important;
border: 1px solid $grey-color-light;
font-size: 1em;
    }
& select {
height: 2.5em;
width: calc(102% - 1em);
padding: 1px 0 0 0;
padding-left: calc(1vw + 1em);
margin: 0 0 1px 0;
border: 1px solid $grey-color-light;
font-size: 1em;
    }
& button {
background-color: $theme-color;
color: $white;
font-family: 'PitchTest-Semibold', serif;
border: 1px solid $grey-color-light;
width: calc(92% - 1em) !important;
line-height: 2.5;
margin-top: calc(5vw + 1em);
font-size: 1em;
font-weight: bold;
letter-spacing: 1.25px;
    }
& div.form-buttons-wrapper {
text-align: center;
}
& div.form-error-message {
font-style: italic;
// color: $fuchsia;
&:before {
content: "*";
    }
& img {
display: none;
        }
    }
}