body.body {
// padding-top: .66vh;
//background: $fuchsia;
}

div.sidebar {
position: fixed;
width: calc(18vw + 9em);
padding: calc(1vw + 1em);
padding-top: 0; //calc(.5vw + 1em);
max-height: 100vh;
& p {
overflow-y: scroll;
max-height: calc(100vh - 25em);
}
@include media-query ($on-palm) {
position: relative;
width: 100%;
margin: 0 auto;
padding: 0;
	}
}

div.links {
& a {
padding-right: calc(1vw + 1em);
	}
@include media-query($on-palm) {
padding-bottom: calc(1vw + 1em);
& a {
padding-right: 0;
		}
	}
}

div.content-wrapper {
min-height: 99.5vh;
// background-color: rgba(72, 133, 237, 0.75);
padding-bottom: calc(6vw - 1em);
& .sidebar {
background-color: $white;
	}
}

div.main {
// text-align: right;
margin-left: calc(18vw + 13em);
padding-right: calc(1vw + 1em);
& img {
width: 100%;
	}
@include media-query($on-palm) {
margin-left: 0;
width: 100vw;
	}
}

div.main-wrapper {
& .sidebar {
background-color: #f5f5f5;
min-height: calc(98vh + 1em);
@include media-query($on-palm) {
min-height: calc(1vh + 1em);
		}
	}
}

div.post-header {
@include media-query($on-palm) {
& h1 {
padding: 0 calc(.25vw + .25em);
		}
& h5 {
padding: 0 calc(1.25vw + .5em);
		}
	}
}

div.content-main {
margin-left: calc(18vw + 13em);//calc(16vw + 11em);
padding-top:  4em;
margin-top: -10px;
margin-bottom: 2em;
padding-right: 2em;
overflow: hidden;
@include media-query ($on-palm) {
margin: 0 auto;
padding: 1em 0;
    } 
& img {
margin-top: .33em;
max-width: 100%;
position:relative;
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
&:before, &:after
{
content:"";
position:absolute;
z-index:-1;
-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
box-shadow:0 0 20px rgba(0,0,0,0.8);
top:50%;
bottom:0;
left:10px;
right:10px;
-moz-border-radius:100px / 10px;
border-radius:100px / 10px;
		}
&:after
{
right:10px;
left:auto;
-webkit-transform:skew(8deg) rotate(3deg);
-moz-transform:skew(8deg) rotate(3deg);
-ms-transform:skew(8deg) rotate(3deg);
-o-transform:skew(8deg) rotate(3deg);
transform:skew(8deg) rotate(3deg);
		}
	}
& p {
padding: calc(.5vw + .5em);
padding-bottom: 0;
background-color: $white;
// padding-top: .25em;
// padding-bottom: .25em;
//background-color: $white;
	}
& div.caption {
//font-family: serif;
//margin-top: .25em;
margin-bottom: .5em;
//padding-top: .125em;
background-color: $white;
	}
}

footer {
border-top: 0;
//position: absolute;
//padding-top: calc(87vh + 3em);
//bottom: 0;
width: 100%;
text-align: center;
//color: $white;
line-height: 2;
}