body.body {
// padding-top: .66vh;
//background: $fuchsia;
}

div.sidebar {
position: fixed;
width: calc(14vw + 9em);
padding: calc(1vw + 1em);
padding-top: calc(.5vw + 1em);
@include media-query ($on-palm) {
position: relative;
width: 100%;
margin: 0 auto;
padding: 0;
	}
}

div.content-wrapper {
min-height: 99.5vh;
background-color: rgba(72, 133, 237, 0.75);
padding-bottom: calc(6vw - 1em);
& .sidebar {
background-color: $white;
	}
}

div.main {
& img {
height: calc(99vh - 2em);
	}
}

div.content-main {
margin-left: calc(17vw + 12em);//calc(16vw + 11em);
padding-top:  4em;
margin-top: -10px;
margin-bottom: 2em;
padding-right: 2em;
overflow: hidden;
@include media-query ($on-palm) {
margin: 0 auto;
padding: 1em 0;
    } 
& img {
margin-top: .33em;
max-width: 100%;
//border: 2px solid $text-color;
	}
& p {
// padding-top: .25em;
// padding-bottom: .25em;
//background-color: $white;
	}
& div.caption {
font-family: serif;
margin-top: .25em;
margin-bottom: .25em;
padding-top: .125em;
background-color: $white;
	}
}

footer {
border-top: 0;
//position: absolute;
//padding-top: calc(87vh + 3em);
//bottom: 0;
width: 100%;
text-align: center;
//color: $white;
line-height: 2;
}