body.body {
// padding-top: .66vh;
//background: $fuchsia;
}

.content-wrapper {
//background: $white;
min-height: 99.5vh;
}

div.sidebar {
position: fixed;
width: calc(14vw + 9em);
padding: calc(1vw + 1em);
padding-top: calc(.5vw + 1em);
@include media-query ($on-palm) {
position: relative;
width: 100%;
margin: 0 auto;
padding: 0;
	}
}

div.main {
& img {
height: calc(99vh - 2em);
	}
}

div.content-main {
margin-left: calc(16vw + 11em);
padding-top:  4em;
margin-top: -10px;
margin-bottom: 2em;
padding-right: 2em;
overflow: hidden;
@include media-query ($on-palm) {
margin: 0 auto;
padding: 1em 0;
    } 
& img {
max-width: 100%;
	}
}

footer {
border-top: 0;
//position: absolute;
//padding-top: calc(87vh + 3em);
bottom: 0;
width: 100%;
text-align: center;
}