<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="body">

    <div class="content-wrapper">

        {% include sidebar.html %}

    	{% if page.img %}
        <div class="hero">
        	<img class="" src="{{ page.img }}" alt="{{ page.alt }}">
        </div>
    	{% endif %}

        <div class="content-main">

            <div class="post-header">
			    <h1 class="post-title">{{ page.title }}</h1>
			    <h5 class="post-description">{{ page.description }}</h5>
			    <p>{{ page.sidebar }}</p>
			</div>

          {{ content }}
        
        </div>

<!--       {% include footer.html %} -->

    </div>

  </body>

</html>